body{
	background-color: white;
	font-family: calibri;
}

p{
	margin-left: 10px;
	font-size: 17px;
}

h1{
	text-align: center;
}

h2{
	text-align: left;
	margin-left: 10px;
	font-size: 30px;
}

h3{
	text-align: left;
	margin-left: 10px;
	font-size: 25px;
}

h4{
	text-align: left;
	margin-left: 10px;
	font-size: 25px;
}

h5{
	text-align: left;
	margin-left: 10px;
	font-size: 25px;
}

h6{
	text-align: left;
	margin-left: 10px;
	font-size: 25px;
}

footer {
	padding: 3px;
	margin-left: 2px;
	background-color: grey;
	color: white;
	position: absolute;
	bottom: 0px;
	width: 1754px;
	overflow: hidden;
}

/* NAVIGATION BAR */

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  margin-left: -158px;
  width: 1920px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown{
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn{
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Dropdown Links */
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #dddd;
}

/* SIDEBAR */
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed; /* stay in place on scroll */
  left: 0;
  background-color: #ddd;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Sidebar links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the sidebar links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 140px; /* Same as the width of the sidebar */
  padding: 1px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}